@model IEnumerable<MobileShopConnection.NhaSanXuat>

@{
    ViewBag.Title = "Index";
}

<h2>Quản lý danh sách nhà sản xuất</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Mã nhà sản xuất
        </th>
        <th>
           Tên nhà sản xuất
        </th>
        <th>
          bị khóa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNhaSanXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNhaSanXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BiXoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
