@model  PagedList.IPagedList<MobileShopConnection.SanPham>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@foreach (var item in Model)

{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="@Url.Content("~/Assets/images/home/" + @item.HinhAnh)" alt="" />
                    <h2>@item.GiaBan VNĐ</h2>
                    <p>@item.TenSanPham</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <a href="@Url.Action("Details", "SanPham", new { id = item.MaSanPham })">
                            <h2>@item.GiaBan VNĐ</h2>
                            <p>@item.TenSanPham</p>
                        </a>
                        @using (Html.BeginForm("ThemGioHang", "GioHang", FormMethod.Post))
                        {
                            @Html.Hidden("maSanPham", item.MaSanPham)
                            <button class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        }
                        @*<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>*@
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="@Url.Action("Details", "SanPham", new { id = item.MaSanPham })"><i class="fa fa-plus-square"></i>Details</a></li>
                    @*<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>*@
                </ul>
            </div>
        </div>
    </div>
}
<ul class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</ul>


