@model MobileShopConnection.SanPham
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!--product-details-->
<div class="row">
    <div class="col-sm-9 padding-right">
        <div class="product-details">
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="@Url.Content("~/Assets/images/home/" + @Model.HinhAnh)" />
                    <h3>ZOOM</h3>
                </div>
                <div id="similar-product" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item">
                            <a href=""><img src="~/Assets/image/products/iphone_7_plus_256.jpg" width="40" height="10" alt=""></a>
                            <a href=""><img src="~/Assets/image/products/sony_xperia_x.jpg" width="40" height="10" alt=""></a>
                            <a href=""><img src="~/Assets/image/products/oppo_neo_7.jpg" width="40" height="15" alt=""></a>
                        </div>
                        <div class="item">
                            <a href=""><img src="~/Assets/image/products/oppo_f1s.jpg"  width="40" height="10" alt=""></a>
                            <a href=""><img src="~/Assets/image/products/iphone_6s_128.jpg" width="40" height="10" alt=""></a>
                            <a href=""><img src="~/Assets/image/products/sony_xperia_xz.jpg" width="40" height="10" alt=""></a>
                        </div>
                        <div class="item active">
                            <a href=""><img src="~/Assets/image/products/asus_zenfone_3_max_zc553kl.jpg" width="40" height="10" alt=""></a>
                            <a href=""><img src="~/Assets/image/products/huawei_gr5_2.jpg"  width="40" height="10" alt=""></a>
                            <a href=""><img src="~/Assets/image/products/samsung8.png" width="40" height="10" alt=""></a>
                        </div>

                    </div>


                    <!-- Controls -->
                    <a class="left item-control" href="#similar-product" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right item-control" href="#similar-product" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>


            </div>
            <div class="col-sm-7">
                <div class="product-information">
                    <!--/product-information-->
                    <img src="~/Assets/images/product-details/new.jpg" class="newarrival" alt="">
                    <h2>@Model.TenSanPham</h2>
                    <p>@Model.MoTa</p>
                    <img src="~/Assets/images/product-details/rating.png" alt="">
                    <span>
                        <span>US $@Model.GiaBan</span>
                        <label>Quantity:</label>
                        <input type="text" value="3">
                        <button type="button" class="btn btn-fefault cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add to cart
                        </button>
                    </span>
                    <p><b>Số lượng:</b> @Model.SoLuongTon</p>
                    <p><b>Nhà Sản Xuất:</b> @Model.MaNhaSanXuat</p>
                    <p><b>Xuất xứ:</b> @Model.XuatXu</p>
                    <a href=""><img src="~/Assets/images/product-details/share.png" class="share img-responsive" alt=""></a>
                </div><!--/product-information-->
            </div>
        </div>


    </div>
</div>

<div class="row">
     <div class="col-sm-12">
        @Html.Action("Index", "BinhLuan", new { MaSanPham = Model.MaSanPham})
    </div>

</div>

@section scripts{
    <script>
        function postComment(){
            const content = $("#comment-content").val();
            const maSanPham = @Model.MaSanPham;
            const tenTaiKhoan = "@User.Identity.Name";
            $.post("/api/apibinhluan", {"MaSanPham":maSanPham, "NoiDung":content}, function(){
                //alert("Đã thêm bình luân");
                $("#comments").prepend("<div class=\"comment\"><div class=\"comment-name\">"+ tenTaiKhoan +"</div><div class=\"comment-content\">"+ content +"</div></div>")
            });
        }
    </script>
}
